*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --active: #8fd974;
    --white: #ffffff;
    --white-tint: #f9f9f9;
    --camoflouge: #a0a0a0;
    --text: #394141;
}
html {
    scroll-behavior: smooth;
  }  
/* == SCROLL BAR == */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--text);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--active);
}
/* Animation CSS */
@keyframes bottomReveal {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.reveal-fixed{
    position: relative;
    transition: 2s all ease;
    animation: bottomReveal 2000ms forwards;
}
.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.showreveal{
    transform: translateY(0);
    opacity: 1;
}
/* .cursor{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    top: 1;
    left: 0;
    pointer-events: none;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor i{
    font-size: 30px;
    color: var(--text);
    transform: rotate(-90deg);
} */
/* == || SCROLL BAR == */
body{
    margin: 0;
    height: 100% !important;
    width: 100% !important;
    background-color: #ffffff;
    position: absolute;
}
.container{
    margin: auto;
    width: 100%;
}

.to-top{
    height: 50px;
    width: 50px;
    box-shadow: -4px 2px 12px #00000033,
    -2px 2px 16px #00000033,
    2px 2px 22px #00000033,
    4px 2px 32px #00000033,
    6px 2px 42px #00000033,
    20px 2px 52px #00000033;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 20px;
    background-color: #ffffff;
    z-index: 10;
    text-decoration: none;
    visibility: hidden;
    -moz-animation: bounce 2000ms infinite linear;
    -o-animation: bounce 2000ms infinite linear;
    -webkit-animation: bounce 2000ms infinite linear;
    animation: bounce 2000ms infinite linear;
}

.to-top:hover{
    animation: none;
    transition: all ease 2000ms;
}
.to-top i{
    color: var(--active);
    pointer-events: none;
}
.to-top.show{
    visibility: visible;
}

.button:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
  }
  
  .to-top:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px var(--active);
  }
  
  .to-top:active:after {
    box-shadow: 0 0 0 0 var(--active);
    position: absolute;
    border-radius: 4em;
    opacity: 1;
    transition: 0s;
  }
  
  .to-top:active {
    bottom: 40px;
  }
  

@-webkit-keyframes bounce {
    0% { bottom: 40px; }
    50% { bottom: 30px; }
    70% { bottom: 35px; }
    100% { bottom: 40px; }
}
@-moz-keyframes bounce {
    0% { bottom: 40px; }
    50% { bottom: 30px; }
    70% { bottom: 35px; }
    100% { bottom: 40px; }
}
@-o-keyframes bounce {
    0% { bottom: 40px; }
    50% { bottom: 30px; }
    70% { bottom: 35px; }
    100% { bottom: 40px; }
}
@-ms-keyframes bounce {
    0% { bottom: 40px; }
    50% { bottom: 30px; }
    70% { bottom: 35px; }
    100% { bottom: 40px; }
}
@keyframes bounce {
    0% { bottom: 40px; }
    50% { bottom: 30px; }
    70% { bottom: 35px; }
    100% { bottom: 40px; }
}
/* == Navigation == */
header{
    height: fit-content;
    width: 100%;
    padding: 10px 0px;
    z-index: 5;
    position: fixed;
    top: 0;
}
.header-scroll.sticky{
    box-shadow: 6px 6px 24px #00000033;
    transition: all ease 0.4s;
}
.header-scroll.sticky a{
    color: var(--text);
}
.header-scroll.sticky .active-link{
    color: var(--active);
}
.header-scroll.sticky .menu-btn{
    color: var(--text);
}
.header-scroll {
    background-color: #ffffff;
}
.header .active-link{
    color: var(--active);
}
.header a:hover{
    color: var(--active);
}
.header .menu-btn{
    color: var(--text);
}
.header .menu-btn i{
    color: var(--text);
}
nav{
    height: 55px;
    width: 100%;
}
.nav-container{
    height: 55px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}
.links{
    height: 55px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
    padding: 10px 10px;
}
.header .links a{
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
    padding: 10px 10px;
}
.links .active-link{
    color: var(--active);
}
.header .links .active-link{
    color: var(--active);
}
.links a:hover{
    color: var(--active);
}
@keyframes navAnimateBottom {
    from{
        transform: translateY(5px);
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.menu-bar{
    padding: 5px;
}
.menu-btn{
    font-size: 28px;
    color: var(--text);
    padding: 10px 20px;
}
.nav-prod-listing{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-listings{
    padding: 0px 8px;
}
.nav-listings i{
    font-size: 20px;
    color: var(--text);
}
.nav-listings .listing{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.nav-listings .count{
    height: 16px;
    width: 16px;
    padding: 1px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 500;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--active);
    position: absolute;
    top: -6px;
    right: -6px;
}
.nav-listings .price-total{
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
}
/* == || Navigation == */

main{
    height: fit-content;
    width: 100%;
    background-color: var(--white);
}
.banner{
    min-height: 650px;
    width: 100%;
    background-color: var(--white);
    padding: 140px 0px 0px;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.banner-text{
    min-height: 350px;
    margin: 20px 20px;
}
.banner-text h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #323c48;
    margin: 0px 0px 12px;
}
.banner-text mark{
    padding: 5px 10px;
    color: var(--white);
    background-color: var(--active);
}
.banner-text p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--text);
    margin: 0px 0px 30px;
}
.banner-text button{
    height: 50px;
    width: 200px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #ffffff;
    padding: 10px 10px;
    background-color: var(--text);
    border: 0;
    outline: none;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.banner-text button:hover{
    transition: all ease 100ms;
    box-shadow: 2px 2px 12px #00000033;
    cursor: pointer;
}
.banner-text button:after {
    content: "";
    background: var(--active);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .banner-text button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
.banner-img{
    height: 350px;
    max-width: 650px;
    flex-grow: 1;
    border-radius: 10px;
    background-color: var(--active);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
}
.banner-img img{
    width: 720px;
}
.benefits{
    padding: 60px 0px;
    background-color: var(--white);
}
.benefit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--text);
    border-radius: 40px;
    padding: 20px;
    margin: auto;
}
.benefit-title{
    width: 50%;
    min-width: 280px;
}
.benefit-title p{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}
.benefit-hold{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.benefit-response{
    width: 80%;
}
.benefit-response p{
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}
.benefit-click{
    width: 20%;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.benefit-click button{
    height: 60px;
    width: 60px;
    border: 0;
    outline: none;
    border-radius: 30px;
    background-color: var(--active);
    color: var(--white);
    font-size: 20px;
    margin: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.benefit-click button:hover i{
    transition: 2000ms;
    transform: translateX(2px);
}
.benefit-click button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px var(--active);
}
  
.benefit-click button:active:after {
    box-shadow: 0 0 0 0 var(--active);
    position: absolute;
    border-radius: 30px;
    opacity: 1;
    transition: 0s;
  }
.products{
    padding: 60px 0px;
    background-color: var(--white);
}
.products-headline{
    text-align: center;
}
.products-headline span{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #323c48;
    text-transform: uppercase;
    text-align: center;
}
.products-headline h1{
    max-width: 700;
    margin: 0px auto 20px;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #323c48;
    text-align: center;
}
.products-container{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 900px;
    margin: auto;
}
.product{
    height: fit-content;
    width: 280px;
    margin: 20px 10px;
    cursor: pointer;
}
.product:hover{
    cursor: pointer;
}
.product:hover .product-image img{
    transform: scale(1.05);
    transition: 800ms;
}
.product-image{
    height: 340px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image img{
    height: 340px;
}
.product-info{
    padding: 20px 0px;
    text-align: center;
}
.product-title{
    font-size: 20px;
    font-weight: 800;
    color: #323c48;
}
.product-description{
    font-size: 15px;
    font-weight: 400;
    color: #323c48;
}
.product-pricing{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-pricing a{
    font-size: 14px;
    font-weight: 800;
    color: var(--active);
    padding: 4px;
    text-decoration: none;
}
.product-pricing a:hover{
    color: var(--active);
    transition: all ease 400ms;
}
.product-pricing span{
    font-size: 14px;
    font-weight: 800;
    color: #323c48;
}
.testimonials{
    padding: 60px 0px;
    background-color: var(--white);
}
.testimonials-headline{
    text-align: center;
}
.testimonials-headline span{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #323c48;
    text-transform: uppercase;
    text-align: center;
}
.testimonials-headline h1{
    max-width: 700;
    margin: 0px auto 20px;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #323c48;
    text-align: center;
}
.testimonial-container{
    padding: 40px 0px;
    position: relative;
}
.testimonial{
    min-height: 400px;
}
.testimony{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    flex-wrap: wrap;
}
.testimony-text{
    max-width: 500px;
    min-width: 280px;
    flex-grow: 1;
    padding: 10px 20px;
    margin: 0px 40px 0px 0px;
}
.testimony-text .quote{
    margin: 0px 0px 12px;
}
.testimony-text .quote i{
    font-size: 50px;
    color: #dddddd;
}
.testimony-text p:nth-child(2){
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #323c48;
    text-align: left;
    margin: 16px 0px 30px;
    line-height: 40px;
    letter-spacing:  1px;
}
.testimony-text p:nth-child(3){
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #323c48;
    text-align: left;
    margin: 10px 0px 0px;
}
.testimony-text p:nth-child(3) span{
    color: #52667C;
}
.testimony-select{
    height: fit-content;
    width: fit-content;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.testimony-select .span{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid #52667C;
    margin: 0px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimony-select .span:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px var(--active);
  }
  
  .testimony-select .span:active:after {
    box-shadow: 0 0 0 0 var(--active);
    position: absolute;
    border-radius: 25px;
    opacity: 1;
    transition: 0s;
  }
  
.testimony-select .span i{
    font-size: 26px;
}
.testimony-select .span:hover{
    border: 1px solid var(--active);
    background-color: var(--active);
    color: #ffffff;
    cursor: pointer;
    transition: all ease 100ms;
}
.testimony-img{
    min-width: 280px;
    height: 400px;
}
.testimony-img img{
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}
footer{
    background-color: var(--text);
    padding: 50px 0px;
}
.footer-container{
    border-bottom: 1px solid var(--white-tint);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0px;
}
.footer-col{
    height: fit-content;
    min-width: 280px;
    margin: 10px 10px;
}
.footer-col h4{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin: 0px 0px 16px;
}
.footer-logo img{
    height: 70px;
}
.col-1-p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--camoflouge);
    margin: 10px 0px 10px;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    height: 40px;
}
.footer-col ul li a{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--camoflouge);
    text-decoration: none;
}
.footer-col ul li a:hover{
    color: var(--white);
    transition: all ease 100ms;
}
.footer-social-icons{
    display: flex;
    align-items: center;
    justify-content: start;
}
.footer-social-icons a{
    height: 30px;
    width: 30px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 0px;
    border-radius: 50%;
    font-size: 16px;
    text-decoration: none;
    color: #dddddd;
}
.footer-social-icons a:hover i{
    color: #ffffff;
    transition: all ease 100ms;
}
.footer-col-4 li{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--camoflouge);
    text-decoration: none;
}
.footer-col-4 li i{
    margin: 0px 10px 0px 0px;
    color: #ffffff;
}
.footer-copyright{
    text-align: center;
    padding: 40px 0px 10px;
}
.footer-copyright p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--camoflouge);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 994px) {
    .container{
        margin: auto;
        min-width: 90%;
        max-width: 95%;
    }
    .logo img{
        width: 200px;
     }
    .links{
        height: 100vh;
        width: 320px;
        position: fixed;
        top: 0;
        right: -100%;

        display: block;
        padding: 80px 0px 0px;
        text-align: centers;
        transition: all ease 0.5s;

        z-index: 5;
        background-color: #ffffff;
        overflow: auto;
    }
    .links a{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100% !important;
        height: 50px;
        color: var(--text) ;
        padding: 0px 50px 0px;
    }
    .links a:hover{
        background-color: var(--active);
        color: var(--white);
    }
    .nav-prod-listing{
        height: fit-content;
        width: fit-content;
        display: block;
    }
    .account-access{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-listings{
        padding: 10px 50px;
    }
    .links span{
        cursor: pointer;
    }
    .links.active{
        right: 0%;
    }
    .cancel-btn{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        box-shadow: 2px 2px 12px #00000033;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text);
        font-size: 18px;
        position: absolute;
        top: 12px;
        right: 20px;
    }
    .banner-img img{
        width: 100%;
    }
    .break{
        display: none;
    }
    .benefit{
        width: 90%;
    }
    .benefit-title{
        width: 50%;
        min-width: 100%;
    }
    .benefit-hold{
        min-width: 100%;
    }
    .benefit-response{
        min-width: 100%;
    }
    .testimonial-container{
        padding: 70px 0px;}
    .testimony-img img{
        width: 100%;
        max-width: 400px;
    }
    .testimony-select{
        bottom: 10px;
        left: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        max-width: 1440px;
    }
    .logo img{
       width: 260px;
    }
    .links{
        padding: 0px 20px;
        display: block;
        display: flex;
        align-items: center !important;
        justify-content: space-between;
    }
    .menu-bar{
        display: none !important;
    }
    .cancel{
        display: none;
    }
    .benefit{
        width: 80%;
    }
    .benefit-hold{
        width: 50%;
        min-width: 280px;
    }
    .benefit-response{
        width: 80%;
        min-width: 280px;
    }
    .testimony-select{
        bottom: 60px;
        left: 80px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        width: 1200px;
    }
}


/* == PRODUCT DETAIL PG == */
.product-detail{
    padding: 180px 0px 80px;
}
.product-detail-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.product-detail-image {
    max-width: 600px;
    padding: 40px;
}
.product-detail-text {
    max-width: 600px;
    min-width: 280px;
    min-height: 500px;
}
.product-detail-text .breadcrumb{
    font-size: 14px;
    font-weight: 500;
    color: var(--camoflouge);
    letter-spacing: 0.05em;
}
.product-detail-text .breadcrumb-last{
    font-size: 14px;
    font-weight: 600;
    color: var(--text);
    letter-spacing: 0.05em;
}
.product-detail-title{
    font-weight: 800;
    color: var(--text);
    letter-spacing: 0.05em;
    margin: 20px 0px;
}
.product-detail-price{
    font-weight: 600;
    color: var(--active);
    letter-spacing: 0.05em;
    margin: 0px 0px 20px;
}
.product-detail-description{
    font-weight: 400;
    color: var(--text);
    letter-spacing: 0.05em;
    margin: 10px 0px 20px;
    min-height: 178px;
}
.product-detail-btn{
    height: 44px;
    width: 180px;
    border: 0px;
    background-color: var(--active);
    outline: none;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 0.05em;
    margin: 0px 0px 20px;
    padding: 0px 6px;
}
.product-detail-veiwcart-btn{
    height: 44px;
    width: 180px;
    border: 1px solid var(--text);
    background-color: var(--white);
    outline: none;
    font-weight: 600;
    color: var(--text);
    letter-spacing: 0.05em;
    margin: 0px 4px 20px;
    padding: 0px 6px;
}
.review-product{
    padding: 40px 0px 100px;
}
.review-counter{
    border-bottom: 1px solid var(--camoflouge);
    margin: 0px 0px 20px;
}
.reviews{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.review-counter{
    font-weight: 600;
    color: var(--text);
}
.clients-reviews{
    min-width: 280px;
    width: 100%;
    max-width: 600px;
    min-height: 545px;
}
.clients-reviews h3{
    font-weight: 600;
    color: var(--text);
}
.clients-reviews p{
    font-weight: 500;
    color: var(--text);
}
.review-form{
    min-width: 280px;
    width: 100%;
    max-width: 600px;
    min-height: 545px;
}
.review-form h3{
    font-weight: 600;
    color: var(--text);
}
.review-form p{
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
}
.rating-input{
    margin: 10px 0px;
}
.rating textarea{
    height: 180px;
    max-width: 500px;
    width: 100%;
    min-width: 280px;
    border: 1px solid rgba(0,0,0,.1);
    outline: none;
    padding: 10px 15px;
}
.rating label{
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
}
.rating input{
    height: 42px;
    max-width: 500px;
    width: 100%;
    min-width: 280px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
    padding: 0px 15px;
    border: 1px solid rgba(0,0,0,.1);
    outline: none;
}
.rating input[type=submit]{
    height: 42px;
    width: 100px;
    border: 0px;
    background-color: var(--active);
    outline: none;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 0.05em;
    margin: 10px 0px;
    padding: 0px 6px;
}
/* == || PRODUCT DETAIL PG == */
<<<<<<< HEAD


/* == CART == */
.cart-pg{
    padding: 160px 0px 0px;
}
.cart-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cart-pg-listing{
    min-height: 600px;
    width: 100%;
    min-width: 280px;
    max-width: 800px;
    padding: 80px 40px;
}
.cart-pg-listing h1{
    font-size: 26px;
    font-weight: 800;
    color: var(--text);
    margin: 0px 0px 20px;
}
.cart-summary-headline #summary{
    font-size: 26px;
    font-weight: 800;
    color: var(--white) !important;
    margin: 0px 0px 20px;
}
.cart-listing-headline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.cart-pg-listing table{
    width: 100%;
}
.table-head td{
    padding: 20px 0px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text) !important;
}
.product-tr{
    padding: 10px 0px;
}
.cart-product-details{
    padding: 0px 0px 0px 30px;
}
.table-image{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-count input{
    height: 40px;
    width: 60px;
    outline: none;
    border: 1px solid var(--text);
    border: 4px;
}
.continue-shopping{
    padding: 40px 0px;
}
.continue-shopping a{
    font-size: 16px;
    font-weight: 500;
    color: var(--active);
    padding: 6px 8px 6px 0px;
}
.continue-shopping a:hover i{
    transform: translateX(-4px);
    transition: 800ms;
}
.cart-pg-summary{
    min-height: 500px;
    width: 100%;
    min-width: 280px;
    max-width: 400px;
    padding: 80px 40px;
    background-color: var(--text);
}
.cart-summary-headline{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.summary-counter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.cart-summary-content span{
    font-size: 16px;
    font-weight: 500;
    color: var(--white) !important;
}
.select_wrap{
    width: 225px;
    margin: 15px auto;
    position: relative;
    user-select: none;
  }
  
  .select_wrap .default_option{
    background: #fff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
  }
  
  .select_wrap .default_option li{
      padding: 10px 20px;
  }
  
  .select_wrap .default_option:before{
      content: "";
      position: absolute;
      top: 10px;
      right: 18px;
      width: 6px;
      height: 6px;
      border: 2px solid;
      border-color: transparent transparent #555555 #555555;
      transform: rotate(-45deg);
  }
  
  .select_wrap .select_ul{
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    display: none;
  }
  
  .select_wrap .select_ul li{
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .select_wrap .select_ul li:first-child:hover{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .select_wrap .select_ul li:last-child:hover{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .select_wrap .select_ul li:hover{
    background: #fff4dd;
  }
  .select_wrap .default_option li .option p{
    font-size: 14px;
    font-weight: 500;
    color: var(--text) !important;
  }
  .select_wrap .option{
    display: flex;
    align-items: center;
  }
  
  .select_wrap .option .icon{
    background: url('food_items.png') no-repeat 0 0;
      width: 32px;
      height: 32px;
    margin-right: 15px;
  }
  
  .select_wrap .option.pizza .icon{
    background-position: 0 0;
  }
  
  .select_wrap .option.burger .icon{
    background-position:  0 -35px;
  }
  
  .select_wrap .option.ice .icon{
    background-position: 0 -72px;
  }
  
  .select_wrap .option.fries .icon{
   background-position: 0 -111px;
    width: 25px;
  }
  
  .select_wrap.active .select_ul{
    display: block;
  }
  
  .select_wrap.active .default_option:before{
    top: 25px;
    transform: rotate(-225deg);
  }
  .summary-counter-total{
    margin: 40px 0px 0px;
    padding: 20px 0px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .summary-counter button{
    height: 42px;
    width: 160px;
    border: 0px;
    background-color: var(--active);
    outline: none;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 0.05em;
    margin: 0px;
    padding: 0px 6px;
  }
/* == || CART == */
/* == SHIPPING == */
.shipping-pg{
    padding: 100px 0px 0px;
}
.shipping-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shipping-pg-listing{
    min-height: 600px;
    width: 100%;
    min-width: 280px;
    max-width: 1100px;
    padding: 80px 40px;
}
.shipping-pg-listing h1{
    font-size: 26px;
    font-weight: 800;
    color: var(--text);
    margin: 0px 0px 20px;
}
.shipping-listing-headline{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.form-field{
    margin: 10px 0px;
}
.form-field label{
    font-size: 14px;
    font-weight: 600;
    color: var(--text);
}
.form-control{
    height: 46px;
    max-width: 500px;
    width: 100%;
    min-width: 280px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
    padding: 0px 15px;
    border: 1px solid rgba(0,0,0,.1);
    outline: none;
    border-radius: 4px;
}
.btn-success{
    height: 42px;
    width: 160px;
    border: 0px;
    background-color: var(--active);
    outline: none;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 0.05em;
    margin: 0px;
    padding: 0px 6px;
}
/* == || SHIPPING == */




